/*Selector {
	Property: value;
}
*/

body {
	background-image: url(71500209_951602568550261_5378627664070311936_n.jpg);
	background-size: cover;
}

h2, p {
	color: #AA4139;
	text-align: center;
	border: 3px solid #AA4139;
	cursor: wait;
}

p {
	color: #AA4139;
}

.webtext {
	border: 1px dashed blue;
	
}

.active {
	color: white;
	
}

li {
	list-style: none;
	display: inline-block;
	color: #AA4139;
	
}

#div1 {
	background: rgb(55, 55, 25);
	
}